* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.container {
  background: linear-gradient(#b48ce6, #fb5458);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container a {
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 1em;
}
.container span {
  color: #dddddd;
  margin-bottom: 1em;
  font-size: 2em;
}
